/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a linear gradient background */
body {
    background: linear-gradient(90deg, #42d7aa, #96b9ff);
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    font-size: 36px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.game {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 20px;
    display: inline-block;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    margin-top: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius:10px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.cell:hover {
    background-color: rgb(235, 235, 235);
}

.cell.X {
    color: #e74c3c;
}

.cell.O {
    color: #3498db;
}

.status {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.reset-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #5c82cf;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.reset-button:hover {
    background-color: #42d7aa;
}

.result-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.result-content {
    text-align: center;
}

.result-title {
    font-size: 36px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.new-game-button {
    background-color: #42d7aa;
    color: #fff;
    padding: 10px 20px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.new-game-button:hover {
    background-color: #6297ff;
}
